.collectible {
  display: inline-flex;
}

  .formInputArea {
    margin: .5rem 0 .5rem 3rem;
    background-color: gray;
    width: 409px;
    height: 385px;
    border-radius: 5px;
  }

  .list {
    margin-left: 2rem;
  }

  form {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    width: 375px;
    height: 350px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  textarea, input, select {
    margin: .5rem;
    border: 2px solid #82a9c5;
    font-size: 1rem;
    padding: .2rem .75rem;
    border-radius: 4px;
    width: 85%;
    color: #82a9c5;
    font-weight: 600;
  }

  textarea {
    height: 4rem;
    padding-top: 1rem;
  }

  input, select {
    height: 2rem;
  }

  select {
    color: #a9a9a9;
    width: 92.5%;
    height: 3rem;
  }

  .formInputButton {
    width: 92%;
    height: 4rem;
    border: 2px solid white;
    background-color: #82a9c5;
    margin: .5rem;
    font-weight: 600;
    font-size: 1rem;
    color: white;
  }

  .formInputButton:hover {
    background-color: rgba(234, 212, 131, 0.98);
  }

  .delete:hover {
    /*background-color: lightyellow;*/
  }

  ul {
    list-style: none;
  }

  li {
    border-radius: 4px;
    padding: .5rem;
    margin: .25rem;
    font-family: 'Verdana';
    font-size: 1rem;
    background-color: #c0e6ff;
    border: 1px solid gray;
  }

  li:hover {
    background-color: lightgray;
  }



