<div class="collectible">

      <div class="formInputArea">
        <form>
          <!-- <input [(ngModel)]="newCollectible.name" (keyup.enter)="newCollectible.name=''" class="textfield" name="newCollectible.name" placeholder="What is the name of your collectible item?"> -->
          <input #collectibleName placeholder="Name of your collectible..." class="textfield" />
          <textarea #collectibleDescription placeholder="Add a description..."></textarea>
          <input #collectibleOwner placeholder="Owner of collectible..." class="textfield" />
          <input #collectibleLocated placeholder="Where is this item located..." class="textfield" />
          <select [(ngModel)]="selectedPerson" name="willedTo" (ngModelChange)="onChangeObj($event)">
            <!-- <option value="" disabled selected>--please select--</option> -->
            <option [ngValue]="person" *ngFor="let person of people">{{ person.fullname }}</option>
          </select>

          <button class="formInputButton" (click)="add(collectibleName.value, collectibleDescription.value, collectibleOwner.value, collectibleLocated.value); collectibleName.value=''; collectibleDescription.value=''; collectibleOwner.value=''; collectibleLocated.value=''">Add Collectible</button>
        </form>
    </div>

    <div class="list">
      <ul>
        <li *ngFor="let collectible of collectibles; let i=index">
          <!-- <span (click)="onSelect(collectible)">{{ collectible.name }}</span> -->
          <span [routerLink]="['/detail', collectible.id]">{{ collectible.name }}</span>
          <button class="delete" (click)="delete(collectible); $event.stopPropagation()">x</button>
        </li>
      </ul>
    </div>

  </div>